<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home</title>
    </head>
    <link href="../css/main.css" rel="stylesheet" />
    <body>
        <h1>Welcome to Sample Bowling Chart</h1>
        <p><a href="Emp/employee.html">Employee</a></p>
        <p><a href="vendor.html">Vendor</a></p>
        <p><a href="overhead.html">Overhead</a></p>
        <p><a href="benefits.html">Benefits</a></p>
        <p><a href="expense.html">Expense</a></p>
    </body>
</html>
