<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="main.css" rel="stylesheet" />
        <title>Expense</title>
    </head>
    <body>
        <h3>Expense Reports For Ex2 Services</h3>

        <div id="showExpenses">
            <table id="table"></table>
        </div>
        <select id="Year" onchange="filterExpensesOnChosenYear()">
            <option>Select Year</option>
        </select>
        <div id="year"></div>
        <script src="expense.js"></script>
    </body>
</html>
