input::placeholder {
    text-align: center;
    color: #641ce9;
}
select {
    cursor:pointer;
    display:inline-block;
    position:relative;
    font:normal 11px/22px Arial, Sans-Serif;
    color:black;
    border:1px solid #ccc;
    width: auto;
}

input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #641ce9;
    text-align: center;
    width: 100%;
    height: 30px;
    display: inline-block;
}
input:focus {
    background-color: white;
}
input[type='submit'] {
    background: blueviolet;
}
label {
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
}
body {
    background: #04000c;
    text-align: center;
    text-decoration: double;
}
form {
    width: 30%;
    margin: 5px auto;
    background: rgba(1, 247, 230, 0.472);
    padding: 30px 60px 40px 60px;
    text-align: center;
    -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
}
.update {
    background-color: aqua;
}
label {
    position: relative;
    margin: 40px 0px;
    color: black;
}
button {
    display: inline-block;
    padding: 12px 24px;
    background: rgb(220, 220, 220);
    font-weight: bold;
    color: rgb(120, 120, 120);
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    transition: ease 0.3s;
}
button:hover {
    background: #8bc34a;
    color: #ffffff;
}
h1 {
    text-align: center;
    text-decoration: underline;
    color: blanchedalmond;
}
p {
    font-style: bold;
    font-size: 25px;
    color: whitesmoke;
}
body {
    background: rgb(3, 134, 117);
    color: white;
    font-size: large;
}
LI {
    font-size: 17px;
    color: cornsilk;
}
a {
    text-decoration: none;
}
a:link,
a:visited {
    color: #fb6542;
}

a:hover {
    text-decoration: none;
}
a:active {
    color: black;
}
table,
th,
td {
    border: 2px solid rgb(85, 9, 34);
    padding: 1ch;
    border-collapse: collapse;
}
ul {
    padding: 3ch;
}

button {
    margin: 1em;
}
