<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Employee</title>
    </head>
    <link href="../main.css" rel="stylesheet" />
    <body>
            <input type="text" id="year" name="Year" required placeholder="Enter Year.." />
        </br>
            <input type="text" id="profit" name="per" required placeholder="Profit Percentange.." />
        </br>
    </br>
            <button  > GO!! </button>
    <div class="results">
    <script src="report.expense.js"></script>
    </body>
</html>
